body {
  text-align: center;
}
p {
  display: inline-block;
  font-size: 30px;
}
#setTime {
  width: 100;
}
#startTimer {
  display: block;
  margin: 0 auto;
}

/*  チャレンジ問題 */

.slot-wrap {
  height: 160px;
}

.slot {
  height: 40px;
}

p{
  margin: 0;
}

.middle-slot{
  background-color: rgb(37, 233, 168);
  width: 200px;
  margin: 0 auto;
} 
/*  チャレンジ問題  ここまで */
