#access {
    background-color: #A193861F;
    width:100%;
    height:757px;
    padding:291px 0 70px;

    @include tab {
        padding: unset;
        height: 700px;
    }
}

.access-inner {
    width: 100%;
    height:426px;
    
}

.access-title {


    @extend .menu-title;
    &__name {
       font-size:2.4rem;
       color:#00000038;
       margin-bottom: 30px;
    }

    @include tab {
        padding:60px 0 50px;
        margin-bottom: 0px;
    }
}

.access-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 396px;
    background-color: #D0C5BA;

    @include tab {
        flex-direction: column;
        height: unset;
    }
    
}
.access-img img{
    width: 775px;
    height:396px;

    @include tab {
        width: 100%;
        height: 231px;
    }
}

.access-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 210px;
    height: 192px;
    font-size: 1.6rem;
    color:#FFF;
    margin:100px;

    @include tab {
        margin: 30px 0 60px 20px;
    }
}
    
.access-ul {
    height: 122px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin:0;
        
}

.access-item ul li {
    font-size: 1.6rem;
    color:#FFF;
    border:none;



}
