#concept {
    width: 100%;
    height: 1000px;
    background:linear-gradient(to bottom,#A193861F 0% ,#A193861F 40% ,#A1938689 40%, #A1938689 100%);
    
    @include sp {
        height: unset;

    }
}

.concept-title {
    width: 1074px;
    font-size: 1.8rem;
    color:#707070;
    text-align: left;
    position: relative;
    margin: 0 auto 11px;

    @include sp {
        padding: 50px 0 50px 10px;
        width: 50%;
        margin: unset;

    }

    &::after {
        display:inline-block;
        width: 10rem;
        content:"";
        border-top:1px solid #707070;
        margin-left:2rem;
        position: absolute;
        top:50%;
    }
}

.concept-inner {
    padding:256px 0 64px;
    text-align: center;

    @include sp{
        padding: unset;
        
    }
}

.concept-img {
    width: 100%;
    height:413px; 
    margin-right: 15px;

    @include sp {
        height: unset;
        margin: unset;
    }

    & img {

        @include sp {
            width: 164px;
            height: 205px;
       }
        

    }
}

.concept-content {
    width: 944px;
    height:130px;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    text-align: center;
    margin: 0 auto;
    flex-wrap: nowrap;

    @include sp {
        width: unset;
        height: unset;
        display: unset;
    }

    &__title{
        width: 445px;
        height: 57px;
        font-size: 4rem;
        font-family:'ヒラギノ明朝 Pro';
        margin-top: 92px;

        @include sp {
            width: unset;
            height: unset;
            font-size: 1.8rem;
            margin: 50px 0 18px;
            font-family: 'ヒラギノ角ゴ Pro';
            letter-spacing: 1.6px;
        }
    }

    &__text {
        width:422px;
        height:100%;
        margin-top: 69px;
        font-size: 1.6rem;

        @include sp {
            width: unset;
            margin: unset;
            height: 211px;
            padding: 0 21px;



        }
    }
}
