body {
    margin: 0px;
    padding: 0px;
}

#first-v {
    background-image: url(/img/Blond\ woman\ with\ long\ curly\ beautiful\ hair.png);
    background-position:right;
    background-repeat:  no-repeat;
    background-size: contain;
    width: 100%;
    height:100vh;
    position: relative;

    @include sp {
        background-position: left;
        background-size: cover;
    }
}

.first-v-wrap {
    width: 100%;
    height: 100vh;
    padding: 296px 97px 290px 107px;
    font-size:3.8rem;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right:30%;

    @include sp {
        color:#FFF;
        text-shadow:0 3px 16px #000000 ;
        position: unset;
        padding: 200px 0 300px;
        flex-direction:column-reverse;
       
    }
}

.first-v__catch {
        font-family:'Zapfino';
     }
 .first-v__title {
     font-family:'ヒラギノ明朝 Pro';
 }    

