footer{
    height: 170px;

    & div p {
        font-size: 3.2rem;
        color: #7070704D;

        & i {
            color: black;

        }
    }
}

.border-f {
    width: 1066px;
    height: 170px;
    border-top: 1px solid #7070704D;
    margin: 170px auto 0 ;

    @include sp {
        width: 80%;
        margin-top: 60px;
    }
}

.fa-twitter {

    @include sp {
        padding-left: 120px;
    }
}



.footer-wrap {
    width: 1066px;
    height: 37px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    margin:60px auto;

    @include sp {
        flex-direction: column;
        width: 100%;
        height: 117px;
    }

}

.footer-title {
    @include sp {
        width: 100%;
        font-size: 1.8rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

    }
}

.reserve {
    width: 184px;
    height: 37px;
    padding:10px 41px;
    font-size: 1.8rem;
    color: #707070;
    border: 1px solid #707070;
}