#menu {
    width:100%;
}

.inner {
    margin: 261px auto 70px;

    @include sp {
        margin: unset;
    }

}

.menu-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin:0 107px;

    @include sp {
        margin: 0 20px;
    }
}

.menu-title {
    width: 1074px;
    font-size: 1.8rem;
    color:#707070;
    text-align: left;
    position: relative;
    margin: 0 107px 11px;


         @include sp {
            width: unset;
            height: unset;
            font-size: 1.8rem;
            margin: 50px 0 18px 20px;
            letter-spacing: 1.6px;
        }    

    &::after {
        display:inline-block;
        width: 10rem;
        content:"";
        border-top:1px solid #707070;
        margin-left:2rem;
        position: absolute;
        top:50%;
    }
}


.menu-item {
    // display: flex;
    // justify-content: space-between;
    // flex-direction: column;
    // width: 274px;
    // height: 555px;
    margin-bottom:63px;

    @include sp {
        width: 100%;
        
    }
}

.menu-content {


    &__title {
        font-size: 3rem;
        margin:37px auto 34px;
        text-align: center;
    }

    &__text {
        width: 253px;
        font-size: 1.6rem;
        font-family:'Roboto Mono for Powerline';
        margin:0 auto 34px;
        letter-spacing: 1.6px;
    }

    &__price {
        text-align: right;
        font-size: 1.6rem;
    }

}

.menu-img img{
    @include sp {
        width: 100%;
    }
}
