#entry{
    height: 477px;
    width:100%;
    position: relative;
}

.entry-wrap{
   
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:320px;
    height:127px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    @include sp{
        width:90%;
    }
}

.entry-copy{
    font-size: 18px;
    font-weight: bold;

}

.entry-btn{
    @extend .fv-btn;
    width:100%;
}